.container {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    gap: 20px;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
}

.item {
    border: 5px solid blueviolet;
    position: relative;
}

.item > span {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: red;
    padding: 10px;
    color: white;
    font-size: 16px;
} 